#picture {
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	
	position:relative;
}
#header {
	padding-top: 5%;
}
#tweet-tweet {
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
}